﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://bitbucket.org/justinmtemplar/toy-robot-coding-puzzle/src/master/" target="_blank" class="ml-md-auto">Created By Justin Templar</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
