﻿@page "/about"

<h1>About</h1>

<p>Solution created by Justin Templar.</p>
<p>Source avalable here: <a target="_blank" href="https://bitbucket.org/justinmtemplar/toy-robot-coding-puzzle/src/master/">Bit Bucket - Justin Templar</a></p>

<hr />
<h2>Toy Robot Coding Puzzle</h2>
<h3>Description</h3>
<ul>
    <li>The application is a simulation of a toy robot moving on a square tabletop, of dimensions 5 units x 5 units.</li>
    <li>There are no other obstructions on the table surface.</li>
    <li>The robot is free to roam around the surface of the table, but must be prevented from falling to destruction. Any movement that would result in the robot falling from the table must be prevented, however further valid movement commands must still be allowed.</li>
    <li>
        Create an application that can read in commands of the following form:
        <ul>
            <li>PLACE X,Y, FACING</li>
            <li>MOVE</li>
            <li>LEFT</li>
            <li>RIGHT</li>
            <li>REPORT</li>
        </ul>
    </li>
    <li>PLACE will put the toy robot on the table in position X,Y and facing NORTH, SOUTH, EAST or WEST.</li>
    <li>The origin (0,0) can be considered to be the SOUTH WEST most corner.</li>
    <li>The first valid command to the robot is a PLACE command, after that, any sequence of commands may be issued, in any order, including another PLACE command. The application should discard all commands in the sequence until a valid PLACE command has been executed.</li>

    <li>MOVE will move the toy robot one unit forward in the direction it is currently facing.</li>
    <li>LEFT and RIGHT will rotate the robot 90 degrees in the specified direction without changing the position of the robot.</li>
    <li>REPORT will announce the X,Y and FACING of the robot. This can be in any form, but standard output is sufficient.</li>
    <li>A robot that is not on the table can choose the ignore the MOVE, LEFT, RIGHT and REPORT commands.</li>
    <li>Input can be from a file, or from standard input, as the developer chooses.</li>
    <li>Provide test data to exercise the application.</li>
</ul>

<h3>Example Input and Output</h3>
<p>
    PLACE 0,0,NORTH<br />
    MOVE<br />
    REPORT<br />
    Output: 0,1,NORTH
</p>
<p>
PLACE 0,0,NORTH<br />
LEFT<br />
REPORT<br />
Output: 0,0,WEST
</p>
<p>
PLACE 1,2,EAST<br />
MOVE<br />
MOVE<br />
LEFT<br />
MOVE<br />
REPORT<br />
Output: 3,3,NORTH
</p>