﻿@using BlazorInputFile
@using ToyRobot.Components
@page "/"

<!-- Solution created by Justin Templar, 2020-->

<h1>Toy Robot Command Center</h1>

<div class="">
    <div class="row">
        <div class="col">
            <div class="row" style="background-color: black; color: white; overflow-y:scroll; height: 500px; padding: 5px;" id="command_history">@DisplayCommandOutput</div>
            <div class="row"><input @bind="CurrentCommand" class="form-control col-11 text-white bg-dark" placeholder="Enter commands here" @onkeyup="KeyUp" /> <button class="btn btn-primary col-1" @onclick="FireCommand">Go</button></div>
            <div class="row">&nbsp;</div>
            <div class="row">Command text file can be uploaded below:</div>
            <div class="row"><InputFile OnChange="UploadCommandFile" /></div>
        </div>
        <div class="col">
            <table border="1" cellpadding="5" style="background-color: black; color: white; border-color: white;">
                @for (int y = _Table.Size - 1; y >= 0; y--)
                {
                    <tr>
                        @for (int x = 0; x < _Table.Size; x++)
                        {
                            <td><div style="font-size: 0.75em;">@String.Format("x:{0} y:{1}", x, y)</div>@ShowRobotAtPosition(x, y)</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


@code {
    [Inject]
    protected IJSRuntime _JsRuntime { get; set; }

    private Logic.Table _Table { get; set; }
    private Logic.Robot _MainRobot { get; set; }

    private List<string> CommandOutput { get; set; }
    public MarkupString DisplayCommandOutput
    {
        get
        {
            return (MarkupString)String.Join("<br/>", CommandOutput);
        }
    }

    private string CurrentCommand { get; set; }

    protected override void OnInitialized()
    {
        _Table = new Logic.Table();
        _MainRobot = new Logic.Robot(_Table);
        CommandOutput = new List<string>();

        CommandOutput.Add("Welcome.");
        CommandOutput.Add("&nbsp;");
        PrintHelp();
        CommandOutput.Add("&nbsp;");
        CommandOutput.Add("Please enter your commands below...");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        _JsRuntime.InvokeVoidAsync("updateMessageScroll");
    }

    private void PrintHelp()
    {
        CommandOutput.Add($"Board size is {_Table.Size.ToString()}x{_Table.Size.ToString()}");
        CommandOutput.Add("&nbsp;");
        CommandOutput.Add("Use the following commands to ready & control your robot:");
        CommandOutput.Add("\"PLACE [x],[y], [FACING]\" - Place the robot in the required x,y position in the required direction.");
        CommandOutput.Add("&nbsp;");
        CommandOutput.Add($"  x,y are the grid coordinates 0 -> {_Table.Size - 1 } for width & 0->{_Table.Size - 1} for height.");
        CommandOutput.Add("  Facing is one of NORTH, EAST, SOUTH, WEST");
        CommandOutput.Add("&nbsp;");
        CommandOutput.Add("You must place your robot first, any other interactive commands will be ignored until the robot has been placed.");
        CommandOutput.Add("You may place your robot as many tmes as you like.");
        CommandOutput.Add("&nbsp;");
        CommandOutput.Add("MOVE - Move the robot by 1 grid square in the direction it is facing.");
        CommandOutput.Add("LEFT - Rotate the robot 90 degrees left in the current grid position.");
        CommandOutput.Add("RIGHT - Rotate the robot 90 degrees right in the current grid position.");
        CommandOutput.Add("REPORT - Display the robots current position & direction.");
    }

    private void CommandOutputUser(string message)
    {
        CommandOutput.Add(":> " + message);
    }

    private void CommandOutputMessage(string message)
    {
        CommandOutput.Add("" + message);
    }

    private void FireCommand()
    {
        if (string.IsNullOrEmpty(CurrentCommand))
            return;

        if (CurrentCommand.Contains("help", StringComparison.OrdinalIgnoreCase))
        {
            CommandOutputUser(CurrentCommand);
            CommandOutput.Add("&nbsp;");
            CommandOutput.Add("Help:");
            PrintHelp();
            CurrentCommand = "";
            return;
        }

        // Read and print command
        var commands = new ToyRobot.Logic.CommandList(CurrentCommand, true);
        CommandOutputUser(CurrentCommand);
        CurrentCommand = "";

        if (commands.Count == 0)
        {
            CommandOutputMessage("Command not recognised. Type 'help' for instructions.");
        }

        // Execute Command
        foreach (ToyRobot.Logic.RobotCommand command in commands)
        {
            var result = _MainRobot.ExecuteCommand(command);
            // Print outcome
            CommandOutputMessage(result);
        }
    }

    void KeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FireCommand();
        }
    }

    private MarkupString ShowRobotAtPosition(int x, int y)
    {
        string outputHTML = "<img style=\"height: 140px;\" src=\"img/";

        var robot = _Table.GetRobotAtPosition(new Logic.TablePoint(x, y, Logic.Direction.North));
        if (robot != null)
        {

            switch (robot.Point.Direction)
            {
                case Logic.Direction.North:
                    outputHTML += "rob-b.png";
                    break;
                case Logic.Direction.East:
                    outputHTML += "rob-r.png";
                    break;
                case Logic.Direction.South:
                    outputHTML += "rob-f.png";
                    break;
                case Logic.Direction.West:
                    outputHTML += "rob-l.png";
                    break;
            }
        }
        else
        {
            outputHTML += "rob-no.png";
        }
        return (MarkupString)(outputHTML + "\" />");
    }

    #region Blazor File Upload
    //http://blog.stevensanderson.com/2019/09/13/blazor-inputfile/
    const int MaxFileSize = 5 * 1024 * 1024; // 5MB

    async Task UploadCommandFile(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file == null)
        {
            return;
        }
        else if (file.Size > MaxFileSize)
        {
            CommandOutputMessage("&nbsp;");
            CommandOutputMessage("Reading file...");
            CommandOutputMessage($"That's too big. Max size: {MaxFileSize} bytes.");
        }
        else
        {
            CommandOutputMessage("Reading file...");

            string fileCommands = "";

            using (var reader = new System.IO.StreamReader(file.Data))
            {
                string line;
                while ((line = await reader.ReadLineAsync()) != null)
                {
                    fileCommands += line + Environment.NewLine;
                }
            }

            if (string.IsNullOrEmpty(fileCommands))
                return;

            // Read and print command
            var commands = new ToyRobot.Logic.CommandList(fileCommands, true);

            // Execute Command
            foreach (ToyRobot.Logic.RobotCommand command in commands)
            {
                var result = _MainRobot.ExecuteCommand(command);
                // Print outcome
                CommandOutput.Add(result);
            }

            CommandOutputMessage("Reading file complete.");
        }
    }

    #endregion
}
